
<h2>회원가입</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "sign_up"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, "이메일" %><br/>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, "패스워드" %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "패스워드 확인" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :name, "이름" %><br/>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :school_id, "학교" %><br/>
      <%= f.select :school_id, schools.collect { |s| [s.name, s.id] } %>
    </div>


    <div class="actions">
      <%= f.submit "회원가입" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
